*{
    margin: 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

#topo-loja{
    background-color: rgb(60, 34, 0);
    color: rgb(255, 255, 255);
    padding: 20px;
    text-align: center;
}

#bt-menu, #label-menu{
    display: none;
}

#menu ul{
    list-style: none;
    margin-top: 10px;
}

#menu li{
    display: inline-block;
    margin: 0 10px;
}

#menu a{
    color: rgb(255, 235, 215);
    text-decoration: none;
    font-weight: bold;
}

.titulo-secao{
    text-align: center;
    margin-top: 30px;
    color:  rgb(60, 34, 0);
}

/* ESTRUTURA INICIAL GRID - DESKTOP */

.vitrine-grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.card{
    border: 3px solid rgb(90, 40, 0);
    padding: 15px;
    border-radius: 8px;
    text-align: center;
}

.card img{
    max-width: 100%;
}